.buttonPrimary{

}
.buttonInfo{
    background-color: 
}
.buttonWarning{

}

.buttonSuccess--small{
    background-color: green;
}
.buttonSuccess--default{
    background-color: blue;
}
.buttonSuccess--extraSmall{
    background-color: blue;
}
.buttonSuccess--large{
 background-color: blue;
}